article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Reset ends */

/* Fonts */
@font-face {
  font-family: "Cute";
  src: url("./fonts/cute.woff") format("woff");
}

/*General */

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  display: inline;
}

/*General Search bar */

.input-text form {
  width: 100%;
  height: 100%;
  position: relative;
}

.input-text-textarea {
  width: 100%;
  border: 3px solid blue;
  background-color: #f2e8f0;
  border-right: 0;
  padding: 5px;
  height: auto;
  border-radius: 20px 0px 0px 20px;
  outline: none;
  color: #9dbfaf;
}
.input-text-textarea:focus {
  color: blue;
}

.input-text-submit {
  position: absolute;
  height: 100%;
  border: 3px solid blue;
  border-left: 0;
  background: #f2e8f0;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  font-size: 1em;
}

/*login page */

.is-invalid{
  border-color: red;
}
.login-page {
  background-color: #dde7cc;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-page-logo {
  height: 70vh;
  margin-top: 10vh;
}

.login-page-logo img {
  max-height: 100%;
  max-width: 100%;
}

.login-form {
  margin: auto;
}

/* App */

.app {
  background-color: #f2e8f0;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  display: flex;
  font-family: "cute";
}

.main {
  border: 7px double black;
  border-left: 0;
  height: 90vh;
  padding: 20px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
}

.top-nav-search {
  width: 40%;
  margin-right: 10vw;
}

.top-nav-menu {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 10%;
}
.menu-items ul {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.menu-items li {
  height: 50%;

  display: flex;
  list-style-type: none;
  margin: 0px 10px 0px 10px;
  padding: 0px 20px 0px 20px;
}
.menu-items a {
  color: blue;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  text-decoration: none;
}

.side-nav-menu {
  height: 10vh;
  width: 100%;
}
.side-nav-menu ul {
  justify-content: center;
}

.books {
  width: 100%;
  height: 100%;
}

.pages {
  margin-top: auto;
  width: 100%;
  color: blue;
  font-size: 0.6em;
}

/* Book Nav*/
.side-nav {
  height: 100%;
  width: 20%;
}
.book-nav {
  border: 7px double black;
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main-page-logo {
  height: 10vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.main-page-logo img {
  height: 100%;
}

/* Main */
.content {
  width: 80%;
  font-family: "cute";
}

.main h1 {
  color: blue;
}
